<template>
  <div class="content">
    <h2>Erbjudanden</h2>

    <div class="columns is-multiline is-mobile au-stagger">
      <div class="column is-6-mobile is-4-tablet is-3-desktop is-2-widescreen" repeat.for="computer of computers">
        <div class="card">
          <div class="img">
            <img src.bind="computer.img" />
          </div>
          <p class="name">${computer.title}</p>
          <p><a target="_blank" class="btn btn-default" href.bind="computer.url">Besök återförsäljaren</a></p>
        </div>
      </div>
    </div>
  </div>
</template>
