<template>
  <require from="./nav-bar"></require>

  <div class="container">
    <nav-bar router.bind="router"></nav-bar>
  </div>

  <section class="section">
    <div class="container">
      <router-view></router-view>
    </div>
  </section>
</template>
