<template>
  <nav class="navbar">

    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <i class="fa fa-home"></i>
        <span>${router.title}</span>
      </a>

      <div class="navbar-burger burger" click.trigger="toggleMenu()" ref="hamburgerButton">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu" ref="menu">
      <div class="navbar-start">
        <a repeat.for="row of router.navigation" class="navbar-item ${row.isActive ? 'active' : ''}" href.bind="row.href">
          ${row.title}
        </a>
      </div>

      <div class="navbar-end">
        <div if.bind="router.isNavigating" class="navbar-item">
          <i class="fa fa-spinner fa-spin fa-2x"></i>
        </div>
      </div>
    </div>

  </nav>
</template>
